.blog {
    background: #F5F5F5;
    padding-top: 95px;
    padding-bottom: 115px;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        display: flex;
        column-gap: 59px;
        align-items: center;
        &-button {
            width: 46px;
            height: 46px;
            border: 2px solid #D2D2D2;
            border-radius: 100%;
        }
    }
    &__header {
        color: #252525;
        font-size: 36px;
        font-weight: 800;
    }
    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    &__button {
        border-radius: 1000px;
        background: #FFF;
        border: none;
        padding: 12px 22px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        column-gap: 46px;
        margin-top: 60px;
    }
    &__time {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 24px;
        &-text {
            color: #828282;
            font-size: 13px;
            font-weight: 400;
        }
    }
    &__text {
        color: #252525;
        font-size: 16px;
        font-weight: 500;
        margin-top: 16px;
        white-space: nowrap;
    }
    &__read {
        display: flex;
        align-items: flex-end;
        column-gap: 8px;
        border-radius: 1000px;
        border: 1px solid #E2E2E2;
        color: #252525;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 19px 9px 14px;
        margin-top: 18px;
    }
}