.price {
    &__top {
        display: flex;
    }
    &__header {
        color: #252525;
        font-size: 36px;
        font-weight: 800;
        margin-right: 54px;
    }
    &__inputs {
        display: flex;
        column-gap: 29px;
        align-items: center;
    }
    &__choice {
        display: flex;
        border-radius: 10px;
        border: 1px solid #E6E6E6;
        background: #FFF;
        padding: 14px 22px 15px 23px;
        column-gap: 55px;
        color: #B7B7B7;
        font-size: 16px;
        font-weight: 500;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 77px;
    }
    &__item {
        border-radius: 20px;
        border: 1px solid #DFDFDF;
        padding-bottom: 19px; 

        &-content {
            padding: 0 26px;
        }
        &-header {
            color: #252525;
            font-size: 14px;
            font-weight: 700;
            margin-top: 21px;
        }
        &-subheader {
            color: #6A6A6A;
            font-size: 12px;
            font-weight: 400;
            margin-top: 10px;
        }
        &-divider {
            width: 281.781px;
            height: 1px;
            background: #E6E6E6;
            margin-top: 16px;
        }
        &-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;
        }
        &-price {
            color: #252525;
            font-size: 20px;
            font-weight: 700;
            span {
                color: #252525;
                font-size: 12px;
                font-weight: 400;
            }
        }
        &-time {
            border-radius: 1000px;
            border: 1px solid #E9E9E9;
            padding: 7px 12px;
            column-gap: 3px;
            margin-top: 8px;
        }
        &-plus {
            width: 46px;
            height: 46px;
            border-radius: 100%;
            background: #E9E9E9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            font-weight: 400;
        }
    }
    &__all {
        width: 194px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 100px;
        background: #FFD600;
        padding: 19px;
        margin-top: 73px;
    }
}
